version: '3.9'

services:
  postgres:
    image: postgres:16
    container_name: almox_postgres
    restart: always
    environment:
      POSTGRES_DB: almoxarifado
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U postgres']
      interval: 5s
      timeout: 5s
      retries: 5

  api:
    container_name: almox_api
    build:
      context: .
      dockerfile: Dockerfile.dev
    command: yarn dev
    volumes:
      - .:/app
      - /app/node_modules
    ports:
      - '3333:3333'
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      NODE_ENV: development
      DB_HOST: postgres
      DB_PORT: 5432
      DB_NAME: almoxarifado
      DB_USER: postgres
      DB_PASS: postgres
    restart: always

volumes:
  postgres_data:
